.game {
  min-height: 100vh;
  background-size: cover;

  .zone-container {
    min-height: 100vh;
    padding: 0 100px;

    .chars-container {
      align-items: baseline;
      height: 750px;
    }

    .char-container {
      transition: .5s;
    }
  }


}